@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black; 
  min-height: 100vh;
}

.main-title {
  color: white; 
}

.card {
  background-color: rgba(255, 255, 255, 0.1); 
  border: none; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  max-width: 400px;
  min-width: 350px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.card-title {
  margin-top: 10px;
}

.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.logo-image {
  max-width: 100px;
}

label {
  color:white;
}

.pin-input {
  display: flex;
  flex-direction: column;
}

.pin-boxes {
  display: flex;
}

.pin-box {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-lightblue {
  background-color:rgb(102, 255, 255);
  padding: 1rem;
  color:black;
  font-weight: bold;
  border-radius: 0.7rem;
}

.btn-lightblue:hover {
  background-color: black; 
  color: white; 
  border-color: rgb(102, 255, 255);
}

.text-red {
  color: red!important;
}

.shadow {
  box-shadow: 0px 0px 30px rgba(255,255,255,1); 
}

.error {
  border: 2px solid red;
}
