<template>
  <div class="main-container">
    <div class="register-form row">
      <b-card class="card">
        <div class="logo">
          <img src="/images/logo.png" alt="Logo" class="logo-image">
        </div>
        <div v-if="form.error" >
          <b-alert variant="danger" show>
            <font-awesome-icon icon="exclamation-triangle" />
              Something Error
          </b-alert>
        </div>
        <b-form @submit.prevent="onSubmit" v-if="form.register_form">
          <div class="mb-3">
            <label for="login-id">Login ID</label>
            <b-form-input type="text" id="login-id" v-model="form.nric" aria-describedby="login-help-block"></b-form-input>
            <b-form-text id="login-help-block">
              Recommend to use Malaysia IC or Passport No. as Login ID for faster verification. Please chat with us if you have any question or concern.
            </b-form-text>
            <p class="text-red my-0" v-if="form.nric_error">
              <small>{{ form.nric_error }}</small>
            </p>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <b-form-input type="password" id="password" placeholder="abc123" v-model="form.password" aria-describedby="password-help-block"></b-form-input>
            <b-form-text id="password-help-block">
              Password must be at least 6 to maximum of 12 characters.Case sensitive.
            </b-form-text>
            <p class="text-red my-0" v-if="form.password_error">
              <small>{{ form.password_error }}</small>
            </p>
          </div>
          <div class="mb-3">
            <label for="phone">Phone</label>
            <b-form-input type="text" id="phone" placeholder="601xxxxxxxxx" v-model="form.phone"></b-form-input>
            <p class="text-red my-0" v-if="form.phone_error">
              <small>{{ form.phone_error }}</small>
            </p>
          </div>
          <div class="mb-3">
            <label for="pin">PIN Number</label>
            <div class="pin-boxes">
              <input v-for="(digit, index) in form.pin_digits" :key="index" v-model="form.pin_digits[index]" ref="pinInputs"
                @input="handlePinInput(index)" @focus="resetPinsError(index)" :class="{ 'pin-box': true, 'error': form.pin_errors[index], 'mx-auto': true}"
                maxlength="1" inputmode="numeric" />        
            </div>        
            <b-form-text id="pin-help-block">
              Must be set with 6 digit number. This 6 digits PIN number is needed everytime you making a payment.
            </b-form-text>
            <p class="text-red my-0" v-if="form.pin_error">
              <small>{{ form.pin_error }}</small>
            </p>    
          </div>
          <b-button block class="btn-lightblue" type="submit" :disabled="this.form.formSubmitted">Register</b-button>
          <b-button block class="btn-lightblue" @click="resetForm" :disabled="this.form.formSubmitted">Cancel</b-button>
        </b-form>

        <b-form @submit.prevent="verifyOTP" v-if="verify.verify_form">
          <div class="mx-auto text-center ">
            <label for="tac" class="">OTP</label>
          </div>
          <div class="mb-3">
            <div class="pin-boxes">
              <input v-for="(digit, index) in verify.tac" :key="index" v-model="verify.tac[index]" ref="tacInputs"
                @input="handleTacInput(index)" @focus="resetTacError(index)" :class="{ 'pin-box': true, 'error': verify.tac_errors[index], 'mx-auto': true, 'mx-2' : true}"
                maxlength="1" inputmode="numeric" />        
            </div>        
            <p class="text-red my-0" v-if="verify.errors">
              <small>{{ verify.errors }}</small>
            </p>    
          </div>
          <b-button block class="btn-lightblue" type="submit" :disabled="this.verify.formSubmitted">Verify</b-button>
          <b-button block class="btn-lightblue" type="button" @click="resendOTP" :disabled="this.verify.resendDisabled">Resend OTP</b-button>
          <b-form-text v-if="verify.countdown > 0" class="text-center">{{ verify.countdown }} s</b-form-text>
        </b-form>
        <div v-if="view.download_page">
          <b-row>
            <b-col>
              <h4 class="text-success text-center">Success</h4>
              <h5 class="text-center text-light">Grab Your One Stop App Now</h5>
            </b-col>
          </b-row>
          <b-row class="justify-content-center">
            <b-col cols="auto" class="my-3">
              <a href="https://play.google.com/store/apps/details?id=com.onestopmalaysia.app" target="_blank">
                <b-img src="/images/play_store_logo.png" alt="Play Store" class="shadow"></b-img>
              </a>
            </b-col>
            <b-col cols="auto" class="mb-3">
              <a href="https://apps.apple.com/my/app/one-stop-membership-app/id1543156434?l=ms" target="_blank">
                <b-img src="/images/app_store_logo.png" alt="App Store" class="shadow"></b-img>
              </a>
            </b-col>
          </b-row>

        </div>
      </b-card>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'Register',
    data() {
      return {
        form: {
          register_form : true,
          nric: null,
          nric_error: null,
          password: null,
          password_error: null,
          phone: null,
          phone_error: null,
          pin_digits: ['', '', '', '', '', ''],
          pin_error: null,
          pin_errors: [false, false, false, false, false, false],
          formSubmitted : false,
          error:false
        },
        verify: {
          verify_form : false,
          tac: ['', '', '', '', '', ''],
          tac_errors: [false, false, false, false, false, false],
          errors: null,
          formSubmitted : false,
          resendDisabled : false,
          countdown: 0
        },
        view: {
          download_page : false
        },
      }
    },
    methods: {
      resetForm() {
        this.register_form = true,
        this.form.nric = null; 
        this.form.nric_error = null;
        this.form.password = null; 
        this.form.password_error= null,
        this.form.phone = null; 
        this.form.phone_error = null;
        this.form.pin_digits = []; 
        this.form.pin_error = null; 
        this.form.error = false; 

        this.verify.tac = [];
        this.verify.tac_error = null;
      },
      resetError() {
        this.form.nric_error = null;
        this.form.password_error= null,
        this.form.phone_error = null;
        this.form.pin_error = null; 
        this.form.error = false; 

        this.verify.tac_error = null;
      },
      resetPinsError(index) {
        this.form.pin_errors[index] = false;
      },
      resetTacError(index) {
        this.verify.tac_errors[index] = false;
      },
      massageErrorMessage(errors) {
        for (const key in errors) {
            errors[key] = errors[key].join(" ");
            this.form[key+'_error'] = errors[key];
        }
      },
      massageVerifyErrorMessage(errors) {
        for (const key in errors) {
            errors[key] = errors[key].join(" ");
            this.verify.errors = this.verify.errors + " " + errors[key];
        }
      },
      handlePinInput(index) {
        if (isNaN(this.form.pin_digits[index])) {
          this.form.pin_errors[index] = true;
        } else {
          this.form.pin_errors[index] = false;
        }

        if (this.form.pin_digits[index].length > 0 && index < 5) {
          this.$refs.pinInputs[index + 1].focus();
        }
      },
      handleTacInput(index) {
        if (isNaN(this.verify.tac[index])) {
          this.verify.tac_errors[index] = true;
        } else {
          this.verify.tac_errors[index] = false;
        }

        if (this.verify.tac[index].length > 0 && index < 5) {
          this.$refs.tacInputs[index + 1].focus();
        }
      },
      startCountdown() {
        this.verify.countdown = 30;
        this.updateCountdown();
      },
      updateCountdown() {
        if (this.verify.countdown > 0) {
          setTimeout(() => {
            this.verify.countdown--;
            this.updateCountdown();
          }, 1000);
        } else {
          this.verify.resendDisabled = false;
        }
      },
      async onSubmit() {
        this.form.formSubmitted = true;
        try {
          var checkPin = this.form.pin_digits.join('').split('').some(char => isNaN(char));
          if (checkPin) {
            this.form.error = true;
            this.form.pin_error = 'Only numberic accepted.';
            this.form.formSubmitted =  false;
            return;
          }

          const postData = {
            nric : this.form.nric,
            password : this.form.password,
            phone : this.form.phone,
            pin : this.form.pin_digits.join(''),
            merchant_id : 2,
            cart_type : 'v'
          };

          this.resetError();

          const response = await axios.post('auth/signup', postData);

          if (response.data) {
            var data = response.data;
            var success = data.success;

            if (!success) {
              this.form.error = true;
              var errors = data.errors;

              this.form.formSubmitted = false;
              this.massageErrorMessage(errors);
            } else {
              this.form.register_form = false;
              this.verify.verify_form = true;
            }
          } else {
            this.form.error = true;
          }
        } catch (error) {
          console.error(error);
        }
      },
      async verifyOTP() {
        this.verify.errors = '';

        var checkTac = this.verify.tac.join('').split('').some(char => isNaN(char));
        if (checkTac) {
          this.form.error = true;
          this.verify.errors = 'Only numberic accepted.';
          this.verify.formSubmitted =  false;
          return;
        }

        this.verify.formSubmitted = true;
        this.verify.resendDisabled = true;

        try {
          const postData = {
            nric : this.form.nric,
            phone : this.form.phone,
            tac : this.verify.tac.join(''),
            merchant_id : 2
          };
          this.resetError();

          const response = await axios.post('auth/verification', postData);

          if (response.data) {
            var data = response.data;
            var success = data.success;
            // console.log(response);
            if (!success) {
              this.verify.formSubmitted = false;
              this.verify.resendDisabled = false;
              this.form.error = true;
              var errors = data.errors;
              this.massageVerifyErrorMessage(errors);
            } else {
              this.verify.verify_form = false;
              this.view.download_page = true;

              const memberData = {
                pin : this.form.pin_digits.join(''),
                cart_type : 'v',
              };
              const token = {
                headers: {
                  Authorization: `Bearer ${data.access_token}` 
                }
              };
              try {
                const addCardResponse = await axios.post('user/add_card', memberData, token);
                console.log('Add Card Response:', addCardResponse.data);
              } catch (addCardError) {
                console.error('Error while adding card:', addCardError);
              }
            }
          }
        } catch (error) {
          console.error(error);
        }
      },
      async resendOTP() {
          this.verify.resendDisabled = true;
          this.startCountdown();

          try {
            const postData = {
              nric : this.form.nric,
              merchant_id : 2
            };

          this.resetError();

          const response = await axios.post('auth/resend_otp', postData);
            console.log(response);
          if (response.data) {
            var data = response.data;
            var success = data.success;

            if (!success) {
              this.verify.formSubmitted = false;
              this.verify.resendDisabled = false;
              this.form.error = true;
              var errors = data.errors;
              this.massageVerifyErrorMessage(errors);
            } 
          }
        } catch (error) {
          console.error(error);
        }
          
      }
    },
    mounted() {
      axios.get('/api/baseUrl') 
        .then(response => {
            const host = response.data.baseURL;
            axios.defaults.baseURL = host;
            console.log(host);
        })
        .catch(error => {
            console.error('Error fetching configuration:', error);
        });
    }
  }

  
</script>
